.desktop {
    align-items: flex-start;
    display: flex;
    width: 1983px;
  }
  
  .desktop .core-website-grid {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 1379px;
    overflow: hidden;
    width: 1983px;
  }
  
  .desktop .overlap-group1 {
    height: 446px;
    margin-left: 0;
    margin-top: -4px;
    position: relative;
    width: 1999px;
  }
  
  .desktop .background-0-dp {
    height: 112px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1999px;
  }
  
  .desktop .horizontal-3 {
    align-items: flex-start;
    display: flex;
    height: 64px;
    left: 154px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 317px;
  }
  
  .desktop .grid {
    color: var(--outer-space);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl2);
    font-weight: 700;
    height: 64px;
    letter-spacing: -1.00px;
    line-height: 56px;
    margin-left: 72px;
    white-space: nowrap;
  }
  
  .desktop .primary {
    align-items: center;
    background-color: var(--outer-space);
    border-radius: 999px;
    display: flex;
    height: 64px;
    left: 1656px;
    min-width: 234px;
    padding: 0 16px;
    position: absolute;
    top: 22px;
  }
  
  .desktop .sign-in {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 700;
    height: 48px;
    letter-spacing: 0.25px;
    line-height: 36px;
    text-align: center;
    text-shadow: 0px 4px 8px 
  #26323814 , 0px 2px 4px 
  #25313729;
    width: 202px;
  }
  
  .desktop .menus-rounded-caps-3 {
    align-items: flex-start;
    display: flex;
    height: 64px;
    justify-content: flex-end;
    left: 720px;
    min-width: 868px;
    position: absolute;
    top: 22px;
  }
  
  .desktop .overlap-group {
    height: 64px;
    position: relative;
    width: 440px;
  }
  
  .desktop .ghost {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: flex-end;
    left: 0;
    min-width: 221px;
    padding: 0 15.5px;
    position: absolute;
    top: 0;
  }
  
  .desktop .how-it-works {
    color: var(--outer-space);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 700;
    height: 48px;
    letter-spacing: 0.20px;
    line-height: 32px;
    text-align: center;
    text-decoration: underline;
    width: 189px;
  }
  
  .desktop .text-1 {
    height: 64px;
    left: 220px;
    letter-spacing: 0.20px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 12px;
  }
  
  .desktop .ghost-1 {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: flex-end;
    left: 231px;
    min-width: 209px;
    padding: 0 15.9px;
    position: absolute;
    top: 0;
  }
  
  .desktop .who-we-are {
    color: var(--black2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 700;
    height: 48px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
    text-decoration: underline;
    width: 177px;
  }
  
  .desktop .text-2 {
    height: 64px;
    letter-spacing: 0.20px;
    line-height: 32px;
    text-align: center;
    width: 12px;
  }
  
  .desktop .icon-layout {
    height: 64px;
    left: 127px;
    position: absolute;
    top: 22px;
    width: 97px;
  }
  
  .desktop .banner {
    height: 346px;
    left: 8px;
    position: absolute;
    top: 100px;
    width: 1983px;
  }
  
  .desktop .room-title {
    color: var(--outer-space);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    left: 907px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 241px;
    white-space: nowrap;
    width: 186px;
  }
  
  .desktop .image-2 {
    height: 69px;
    left: 133px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 84px;
  }
  
  .desktop .overlap-group3 {
    align-items: center;
    background-color: var(--zircon);
    box-shadow: 0px 4px 4px 
  #00000040;
    display: flex;
    height: 70px;
    margin-left: 1.0px;
    margin-top: 155px;
    min-width: 504px;
    padding: 0 31px;
  }
  
  .desktop .email {
    letter-spacing: 0;
    line-height: 32px;
    min-height: 32px;
    min-width: 76px;
    white-space: nowrap;
  }
  
  .desktop .overlap-group2 {
    align-items: center;
    background-color: var(--zircon);
    box-shadow: 0px 4px 4px 
  #00000040;
    display: flex;
    height: 70px;
    margin-left: 1.0px;
    margin-top: 45px;
    min-width: 504px;
    padding: 0 27px;
  }
  
  .desktop .password {
    letter-spacing: 0;
    line-height: 32px;
    min-height: 32px;
    min-width: 139px;
    white-space: nowrap;
  }
  
  .desktop .ghost-2 {
    align-items: flex-start;
    border: 1px solid 
  #adadad;
    border-radius: 16px;
    display: flex;
    height: 51px;
    margin-top: 64px;
    min-width: 199px;
    padding: 7px 15px;
  }
  
  .desktop .label {
    color: 
  #848484;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 700;
    height: 35px;
    letter-spacing: 0.20px;
    line-height: 32px;
    text-align: center;
    white-space: nowrap;
    width: 167px;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Inter:400,700");
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  
  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .valign-text-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  