 /* General body CSS */ 
body { 
    width: 100%;
    overflow-x: hidden; 
    margin: 0;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 300;
    color: black;
    text-align: center;
  }
  
.flex-header-bar {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

#link-header-bar {
    margin-top:5px;
}

.logo {
    margin-left:50px;
}

/* Adding a background color to the top navigation */
.navbar {
    position: absolute;
    height: 96px;
    left: 0px;
    right: 0px;
    top: 0px;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgba(108, 92, 231, 0.28);
    color: black;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: rgba(108, 92, 231, 0.749);
    color: white;
    border-radius: 8px;
  }
  
  #logOut {
    padding-left:30px;
    padding-right:30px;
    margin-right:30px;
    border-radius:30px;
    width: 150px;
  }
  
  #logOut:hover {
    background-color: rgba(108, 92, 231, 0.749);
    color: white;
    border-radius: 8px;
    border-color: rgba(108, 92, 231, 0.749);
  }

/* Search Input Bar Styling */
.inputNav {
    position: relative;
    height:150px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(108, 92, 231, 0.28);
}

.startTime {
    position: absolute;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    left: 2.17%;
    right: 87.29%;
    top: 25%;
    bottom: 29.33%;
    background: #FFFFFF;
    border-radius: 20px;
    width: 210px;
    height: 80px;
}

.icon {
    padding-left:10%;
    padding-top:12%;
}

.text{
    padding-left:10%;
    padding-top:5%;
}

.inputNavTitle {
    position: fixed;
    left: 4.89%;
    right: 90.67%;
    top: 33.33%;
    bottom: 53.33%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
}

.inputNavInput{
    position: absolute;
    left: 4.89%;
    right: 89.66%;
    top: 48%;
    bottom: 38.67%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.endTime {
    position: absolute;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    left: 18.1%;
    right: 71.36%;
    top: 25%;
    bottom: 29.33%;
    background: #FFFFFF;
    border-radius: 20px;
    width: 210px;
    height: 80px;
}

.date {
    position: absolute;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    left: 52.95%;
    right: 54.31%;
    top: 25%;
    bottom: 29.33%;
    background: #FFFFFF;
    border-radius: 20px;
    width: 260px;
    height: 80px;
    margin-bottom: 30px;
}

.attendeeNumber {
    position: absolute;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    left: 71.67%;
    right: 30.02%;
    top: 25%;
    bottom: 29.33%;
    background: #FFFFFF;
    border-radius: 20px;
    width: 260px;
    height: 80px;
}

.sortBy {
    position: absolute;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    left: 67.47%;
    right: 20.93%;
    top: 29.33%;
    bottom: 29.33%;
    background: #FFFFFF;
    border-radius: 20px;
}

  .my-modal{
    width:30%;
    margin-left:auto;
    margin-right:auto;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #212529;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    width:95%;
    background-color: #212529;
    color: white;
  }
  
  /* Modal Body */
  /* .modal-body {padding: 2px 16px;} */
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: white;
  }
  
  /* The Close Button */
  .close {
    z-index:1000;
    color: white;
    background-color: #212529;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
#flex-modal-head{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Room Card Styling */

.card {
    height:250px;
    width: 800px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-left: 320px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#card1{
    background: #F8F8FF;
}

.card-horizontal {
    display: flex;
    height:200px;
  }

.card-capacity {
    font-weight: 300;
}

.card-address {
    font-size: 14px;
}

.card-time {
    font-weight: 600;
}

.img-square-wrapper{
    height:180px;
    width:300px;
    padding-left:30px;
    padding-top:30px;
}

.flex-card-title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body{
    margin-left:50px;
    margin-top:15px;
}

.roomPicture{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}

/* Filter Side Bar Styling */

.sideBarText{
    padding-top:50px;
    padding-left:30px;
}

.starRate{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    height:41px;
    width:73px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right:20px;
}

.starText{
    margin-right:10px;
}

.flex-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}

.boldText{
    font-weight: 700;
}

.clip-star {
    background: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 37px;
    width: 38px;
  }

.empty-star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 37px;
    width: 38px;
    border-color: black;
    background: lightgray;
}

.stars {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
}

  /* Search Button Styling */
.search {
    position: absolute;
    left: 34.09%;
    right: 23.15%;
    top: 32%;
    bottom: 32%;
    border-radius: 20px;
}

#searchButton {
    border-radius:20px;
    width:202px;
    height:62px;
}

.fop {
    width: 3000px;
    height: 2000px;
}
  
.form-control {
    border-color: white;
}

.card-stars {
    text-align: center;
    padding-top: 10px;
  }

.card-test {
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
}

.flex-container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.card-button {
    width: 100px; 
    margin-right: 20px;
    border-radius: 30px;
}

.vl {
    border-left: 2px solid grey;
    height: 150px;
    margin-left: 50%;
  }