 /* General body CSS */ 
 body { 
    width: 100%;
    overflow-x: hidden; 
    margin: 0;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 300;
    color: black;
    text-align: center;
  }
  
/* Banner */
.banner {
    position: absolute;
    height: 346px;
    width: 100%; 
    background: rgba(108, 92, 231, 0.28);
    text-align: left;
}

.banner-subtext {
    padding-top: 200px;
    margin-left: 70px;
}

.banner-title {  
    padding-top: 0px;
    margin-left: 70px;
}

.banner-stars {
    margin-left: 70px;
}

.container {
    margin-top: 400px;
}

.popular-features {
    padding-top: 20px;
}

.pf-icon {
    padding-top: 10px;
}

.location { 
    padding-top: 40px;
    padding-bottom: 10px;
}

/* Set the size of the div element that contains the map */
.map {
    height: 200px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.tags-text {
    padding-top: 20px;
}

p.tags-design {
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #5E17EB;
    border-radius: 30px;
    color: white;
  }

.flex-header-bar{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

#link-header-bar{
    margin-top:5px;
}

/* Adding a background color to the top navigation */
.navbar {
    position: absolute;
    height: 96px;
    left: 0px;
    right: 0px;
    top: 0px;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgba(108, 92, 231, 0.28);
    color: black;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: rgba(108, 92, 231, 0.749);
    color: white;
    border-radius: 8px;
  }
  
  #logOut {
    padding-left:30px;
    padding-right:30px;
    margin-right:30px;
    border-radius:30px;
    width: 150px;
  }
  
  #logOut:hover {
    background-color: rgba(108, 92, 231, 0.749);
    color: white;
    border-radius: 8px;
  }

#dot{ 
    margin-top:5px;
    margin-left:30px;
    margin-right:30px;
     fill:#FDCB6E;
 }

.description {
    font-size: 15px;
    width: 90%;
}